PORT=

BETTER_AUTH_SECRET=
# BETTER_AUTH_URL=https://unilake-backend-590672762351.asia-south1.run.app
BETTER_AUTH_URL= 
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DATABASE_URL=
DIRECT_URL=

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_PRIVATE_BUCKET_NAME=
R2_PUBLIC_BUCKET_NAME=
R2_ENDPOINT=
R2_PUBLIC_URL_BASE=

# REDIS_URL=rediss://default:gQAAAAAAASP6AAIgcDFkNDk1MDM4Y2U1MDQ0NzIzOTg4MGE5YTk5N2ZiYmVmZg@adequate-fox-74746.upstash.io:6379 // this one was of the upstash redis
REDIS_URL=

NODE_ENV=



RUNPOD_ENDPOINT_ID=
RUNPOD_API_KEY=